# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
venv/
.myvenv/
env/

# Node.js
node_modules/
dist/
build/

# Electron
*.log
*.pid
*.seed
*.pid.lock

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local